.contact {
    background-image: url(https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/phut_0.jpg?itok=h30EAnkk);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-item h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 18px;
  }
  .contact-item input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
  }
  .contact-item textarea{
    border-radius: 10px;
    height: 150px;
    width: 50%;
    padding: 15px;
  }
  .heading {
    background-image: url(https://cdn.trendhunterstatic.com/thumbs/lucia-pizza.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    text-align: center;
    color: rgb(250, 249, 249);
    padding-bottom: 600px;
    padding-top: 150px;
  }
  .like {
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lobster Two', cursive;
  }
  #reset {
    background-color: #FFC300;
    font-weight: 900;
    font-family: 'Lobster Two', cursive;
  
  }
  .btn {
    padding: 50px;
    color: #f1f1f1;
    border: 2px solid whitesmoke;
    padding: 20px;
    font-family: 'Lobster Two', cursive;
  }
  .logo {
    border-radius: 100%;
    height: 100px;
    float: left;
  }
  .nav-li {
    float: left;
    text-align: center;
    padding: 18px;
    letter-spacing: 3px;
    font-weight: 200px;
    margin: 0;
    text-decoration: none;
  }
  .nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }
  header::after {
    display: table;
    content: "";
    clear: both;
  } 
  @media only screen and (max-width: 102) {
    body {
        width: 100%;
        margin: 5px 0;
    }

}
.hidden {
    display: none;
}
.checkout-options {
    z-index: 3;
    border-radius: 18px;
    padding: 20px;
    width: 70%;
    height: 40vh;
    background: palevioletred;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.location {
    z-index: 3;
    border-radius: 18px;
    padding: 20px;
    width: 70%;
    height: 38vh;
    background: greenyellow;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}